
<div class="jumbotron">
  <h1>How do your senators rank?</h1>
  <p><em>Power Pol</em> is a real-time ranking system that uses a prorietary algorithm to determine which senators are the most independent and productive.</p>
  <p><a class="btn btn-primary btn-lg">Latest Rankings &raquo;</a></p>
</div> <!-- end jumbotron  -->

<table class="table table-hover">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Votes With Party</th>
			<th>Votes Missed</th>
			<th>Bills Sponsored</th>
			<th>Bills Cosponsored</th>
			<th>Rank Trend</th>
			<th>Show Page</th>
		</tr>
	</thead>
		<tr>
		<% @politicians.each_with_index do |politician, index| %>
			<td><%= index + 1 %></td>
			<td><img src="http://theunitedstates.io/images/congress/225x275/<%= politician.bio_guide %>.jpg" width="78.75px" height="96.25px" style="border-radius: 50%;"> <%= politician.first_name %> <%= politician.last_name %> (<%= politician.party.name %>) <%= politician.state %></td>
			<td><%= number_to_percentage(politician.votes_with_party_pct, precision: 2) %></td>
			<td><%= number_to_percentage(politician.missed_votes_pct, precision: 2) %></td>
			<td><%= politician.bills_sponsored %></td>
			<td><%= politician.bills_cosponsored %></td>
			<td>+3</td>
			<td><a class="btn btn-default" href="/politicians/ <%= politician.id %>" role="button">Show</a></td>
		</tr>
		<% end %>
</table>

<script>
$( document ).ready(function() {
  $('img').error(function(){
        $(this).attr('src', '/assets/Chris_Collins_Updated_Official_Portrait_113th_Congress.jpg');
	});
});
	
</script>