<div id="show-header">
	<img src="http://theunitedstates.io/images/congress/225x275/<%= @politician.bio_guide %>.jpg"style="border-radius: 50%;">
		<div id="name-header">
			<h1><%= @politician.first_name %> <%= @politician.last_name %> (<%= @politician.party.name %>)</h1>
			<h3><%= @politician.full_state_name %></h3>
		</div><!-- end name-header-->
<div class="panel panel-primary" id="show-score">
  <div class="panel-heading">
    <h3 class="panel-title"><em>Power Pol</em> Score</h3>
  </div>
  <div class="panel-body">
    <h2><%= @politician.score %></h2>
  </div>
</div>
</div><!-- end show-header-->

<%= high_chart("bar_graph", @one_column) %>

<%= high_chart("my_id4", @three_column)  %>

<%= high_chart("my_id5", @three_bar)  %>

<script>
$( document ).ready(function() {
  $('img').error(function(){
        $(this).attr('src', '<%= image_path "profile_blank.png" %>');
	});
});
	
</script>